<h2 class="{{class}}">Test</h2>
{{#if showThis}}
<p>Testing <strong>{{{testToken}}}</strong> {{#if otherCondition}}<strong>"{{otherTestToken}}"</strong> {{/if}}</p>
{{else}}
<p>'Thus spoke Zarathustra' – "ORLY?"</p>
<p>Not that interesting.</p>
<div class="{{class}}{{#if shouldBeRed}} red{{/if}}">
	Test
</div>
{{!-- <p>Even less interesting.}} <p>No comment.</p>
{{!-- <p>Marginally less interesting. {{#if otherCondition}}<strong>"{{otherTestToken}}"</strong> {{/if}}</p> --}} <p>Nothing to see here.</p>
{{!-- <p>Marginally less interesting. {{{testToken}}}</p> --}} <p>Move along.</p>
{{/if}}
{{! TODO }}
<input type="checkbox" id="medication_taken" {{#if medication_taken}}checked{{/if}}>